
p{
	font-size: 15px;
	font-family: Arial;
}	

.container{
	min-height: 100%;
	width:80%; 
	margin-right: auto;
    margin-left: auto;
    background-color: yellow;
	
}
.center-content{
  top: 20%;
}

/* Navigation */
.navbar{
	font-size: 25px;
    font-size: 2.5vw;
	font-family: arial;
	color: black;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding-bottom:10px;
}
.navbox{
	margin-top: 5px;
	width: 17%;
	display: inline-block;
}
/* Featured content carousel */
.featured-content-container{
	height: 1000px;
	background-color: RED;
}
.main-video-box{
	position:relative;
	padding-bottom:28.125%;
	padding-top:30px;
	width: 50%;
	overflow:hidden;
	margin-right: auto;
    margin-left: auto;
}
.video-iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.main-video-description{
	height: auto;
	width: 40%;
	border:1px solid black;
	margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 200px;
}
/* All videos carousel */
.video-container{
	width: 100%;
	margin-right: auto;
    margin-left: auto;
	background-color:BLUE;

}
.video-box{
	height: auto;
	width: 31%;
	margin: 0.5%;
	display: inline-block;
}









