
@font-face{
    font-family: titleFont;
    src: url('fonts/badab.TTF');
}

p{
	font-size: 15px;
	font-family: Arial;
}	

.header{
	background-image: url("http://www.explodingember.co.uk/Ember/images/headerimage.jpg");
	        width: 100%;
            height: auto;
            background-size: 100% auto !important;
}

/* NAVIGATION */

.navbar{
	font-size: 25px;
    font-size: 2.5vw;
	font-family: arial;
	color: black;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding-bottom:10px;
	background-color: BLUE;
}
.navbox{
	margin-top: 5px;
	width: 17%;
	display: inline-block;
}

/* FEATURED VIDEOS */

.container{
	width:80%; 
	margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.main-video-box{
	position:relative;
	padding-bottom:28.125%;
	padding-top:30px;
	width: 50%;
	overflow:hidden;
	margin-right: auto;
    margin-left: auto;
}
.video-iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.main-video-description{
	height: auto;
	width: 80%;
	margin-top: 5px;
	margin-right: auto;
    margin-left: auto;
}
.main-video-description h3{
	font-size: 25px;
	text-align: center;
	font-family: arial;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}
.main-video-description p{
    font-size: 1.75vw;
	font-family: arial;
	margin-top: 10px;
	text-align: center;
}

/* ALL VIDEOS */

.video-container{
	width: 100%;
	margin-right: auto;
    margin-left: auto;
	text-align:center;
}
.video-box{
	height: auto;
	width: 31%;
	margin: 0.5%;
	display: inline-block;
}
.box-responsive{
	height: auto; 
	width: 100%;
}

/* HEADERS */
.dividerContainer{
	
}

.dividerContainer h1{
	font-family: titleFont;
	font-size: 3vw;
	letter-spacing: 2px;
	text-align: center;
    color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
    width: 100%;
    text-align: center;
	background-color: black;
	padding-bottom: 10px;
}
.footer-object1{
	position: absolute;
	margin-left: 340px;
	margin-top: 27px;
	width: 100px;
	height: 100px;
    display: inline-block;
  /*  border-style: solid;
    border-color: #ff0000 #0000ff;*/
}
.footer-object2{
	position: absolute;
	margin-left: 468px;
	margin-top: 27px;
	width: 100px;
	height: 100px;
    display: inline-block;
  /*  border-style: solid;
    border-color: #ff0000 #0000ff;*/
}
.footer-object3{
	position: absolute;
	margin-left: 602px;
	margin-top: 27px;
	width: 100px;
	height: 100px;
    display: inline-block;
  /*  border-style: solid;
    border-color: #ff0000 #0000ff;*/
	
}
.footer-object4{
	position: absolute;
	margin-left: 732px;
	margin-top: 27px;
	width: 100px;
	height: 100px;
    display: inline-block;
  /*  border-style: solid;
    border-color: #ff0000 #0000ff;*/
}
@media (max-width: 1200px){
	.footer-object1{
		position: absolute;
		left: %;
		width:15%;
		height:10%;
		display: inline-block;
		background-color: black;
	}
}
.footer-content{
	width:15%;
	height:auto;
	color: red;
}
.ytg-sub-box{
	margin-right: 25px;
	margin-left: 25px;
	display: inline-block;
}
.footer-image{
	height: auto; 
	width: 100%;
	display: inline-block;
}

